pkgbase = pearai-bin
	pkgdesc = Open-source AI-powered code editor
	pkgver = 1.5.0
	pkgrel = 1
	url = https://trypear.ai
	install = pearai-bin.install
	arch = x86_64
	license = MIT
	depends = dbus
	depends = glib2
	depends = krb5
	depends = hicolor-icon-theme
	depends = libxfixes
	depends = gtk3
	depends = nss
	depends = libxdamage
	depends = atk
	depends = libxext
	depends = cairo
	depends = mesa
	depends = libxcb
	depends = at-spi2-atk
	depends = cups
	depends = libx11
	depends = nspr
	depends = libxcomposite
	depends = glibc
	depends = alsa-lib
	depends = libxrandr
	depends = libdrm
	depends = libxkbfile
	depends = pango
	depends = at-spi2-core
	depends = libxkbcommon
	source = https://pearai-app.nyc3.digitaloceanspaces.com/PearAI-latest/linux/PearAI-avx2.tar.gz
	sha256sums = b1b256df5f34a9e1f92735a933f856b8ada7faf0301d59df58f82be19a83eddb

pkgname = pearai-bin
